.search-button {
  background-color: #787878;
  color: #ffffff;
  border: 2px solid black;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.searchInput{
  height: 35px;
  margin-top: 10px;
  border: 2px solid black;
}
