.backgroundBg{
  background-image: url(../assets/CantinaEmpty.png);
  background-size: cover;
  min-width: 100%;
  min-height: 100vh;
}

.backgroundBg2{
  background-image: url(../assets/CantinaBusy.png);
  background-size: cover;
  min-width: 100%;
  min-height: 100vh;
}

.star-wars-button {
  background-color: #787878;
  color: #ffd700;
  border: 2px solid black;
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.star-wars-button:hover {
  background-color: #ffd700;
  color: #000;
}

